{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Kanyakumari: "The Virgin Princess" (also known as Cape Comorin) is a town in Kanyakumari District in the state of Tamil Nadu in India.</p>
        <p>It is the southern tip of Indian subcontinent. The southernmost town in mainland India, it is sometimes referred to as 'The Land's End'.</p>
        <p>A popular tourist destination in India, it is famous for its unique ocean sunrise, sunset and moonrise, the 41-metre (133 ft) Thiruvalluvar Statue and Vivekananda Rock Memorial off the coast, and as a pilgrimage centre. Lying at the tip of peninsular India, Kanyakumari is bordered on the west, south and east by the Laccadive Sea. It has a coastal line of 71.5 km stretched on the three sides.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}